<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youdao.sortinghat.dao.mysql.mapper.ServiceStudentMapper">
  <resultMap id="BaseResultMap" type="com.youdao.sortinghat.dao.mysql.model.ServiceStudentEntity">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="service_id" jdbcType="INTEGER" property="serviceId" />
    <result column="student_id" jdbcType="INTEGER" property="studentId" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <delete id="deleteOralServiceRelationship">
    DELETE
    FROM
      service_student
    WHERE student_id = #{studentId}
    AND 0 =
    (SELECT
      COUNT(1)
    FROM
      organization o,
      organization_student os
    WHERE o.id = os.organization_id
      AND student_id = #{studentId}
      AND o.subject = 11)
  </delete>
  <select id="getByServiceIdAndStudentId" resultMap="BaseResultMap">
    SELECT *
    FROM service_student
    WHERE service_id = #{serviceId}
    AND student_id = #{studentId}
  </select>
</mapper>