<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youdao.sortinghat.dao.mysql.mapper.ServiceTeacherMapper">
  <resultMap id="BaseResultMap" type="com.youdao.sortinghat.dao.mysql.model.ServiceTeacherEntity">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="service_id" jdbcType="INTEGER" property="serviceId" />
    <result column="teacher_id" jdbcType="INTEGER" property="teacherId" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <delete id="deleteOralServiceRelationship">
    DELETE
    FROM
      service_teacher
    WHERE teacher_id = #{teacherId}
    AND 0 =
    (SELECT
      COUNT(1)
    FROM
      organization o,
      organization_teacher ot
    WHERE o.id = ot.organization_id
      AND teacher_id = #{teacherId}
      AND o.subject = 11)
  </delete>
  <select id="getByServiceIdAndTeacherId" resultMap="BaseResultMap">
    SELECT *
    FROM service_teacher
    WHERE service_id = #{serviceId}
    AND teacher_id = #{teacherId}
  </select>
</mapper>